<template lang="pug">
  .wrap.under.contact
    keyVisual(page="contact")
    section.contents.skew
      .contents__wrapper
        form(name="contact" method="POST" action="/contact/success/" data-netlify="true")
          input(type="hidden" name="form-name" value="contact") 
          dl.form__contents
            dt 
              label(for="name") お名前
                em （必須）
            dd 
              input(type="text" name="name" placeholder="らぐたぐ　花子" autofocus required)
            dt
              label(for="email") メールアドレス
                em （必須）
            dd
              input(type="email" name="email" placeholder="aaa@example.com" pattern="^[a-zA-Z0-9!$&*.=^`|~#%'+\/?_{}-]+@([a-zA-Z0-9_-]+\.)+[a-zA-Z]{2,4}$" title="メールアドレスは、aaa@example.com のような形式で記入してください。" required)
            dt
              label(name="phone") 電話番号
                em （お問い合わせ内容により必須）
            dd
              input(type="tel" name="tel" placeholder="090-1234-5678")
            dt
              label(for="message") メッセージ本文
            dd
              textarea(name="message" placeholder="お問い合わせ内容をご記入ください")
          button(type="submit") 送信
</template>

<script>
import keyVisual from '@/components/keyVisual';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'Contact',
    }
  },
}
</script>

<style lang="scss" scoped>
dl.form__contents {
  dt {
    em {
      font-style: normal;
      color: $notify-red;
      font-size: 12px;
    }
  }
  dd {
    margin-bottom: 30px;
    input, textarea {
      border: 1px solid #707070;
      border-radius: inherit;
      padding: 7px 5px;
      width: calc(100% - 15px);
      max-width: 490px;
    }
    textarea {
      height: 165px;
    }
  }
}
button[type="submit"] {
  background: $black;
  color: $white;
  border: none;
  width: 200px;
  height: 50px;
}
</style>
