<template lang="pug">
  .wrap.under.contact
    keyVisual(page="contact")
    section.contents.skew
      .contents__wrapper
        h2.title お問い合わせを受け付けました。
        p.contents__text お問い合わせありがとうございます。<br>
          | ご返答にはしばらくお時間をいただいております。<br>
          | 今しばらくお待ちいただけますようお願いいたします。
        picture
          source(media="(max-width: 768px)" :srcset="`/common/keyVisual--home__sp.jpg`")
          img.contents__image(:src="`/common/keyVisual--home.jpg`" alt="RagTag")
</template>

<script>
import keyVisual from '@/components/keyVisual';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'お問い合わせ完了',
    }
  },
}
</script>

<style lang="scss" scoped>
p.contents__text {
  margin-bottom: 1em;
}
</style>
