.wrap {
  padding-top: $headerHeight;
  &.top {
    .contents__wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media (min-width: $tablet_point_mf) {
        flex-direction: row;
      }
    }
  }
}
section.contents {
  padding: 20px 15px 45px;
  margin: 0 auto 0;
  color: $dark-gray;
  line-height: 1.5;
  @media (min-width: $pc_point_mf) {
    padding: 10px 0 75px;
  }
  .contents__wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
  }
}
h2.title,
h3.title {
  font: $lora-bold;
  color: $dark-gray;
  margin-bottom: 20px;
  @extend .skew;
  &::before {
    transform: skewY(30deg);
    top: -5px;
    left: -10px;
    width: 25px;
    height: 25px;
    background: $exlight-gray;
  }
  span.title__supplement {
    font-size: 16px;
    vertical-align: bottom;
  }
}
p.contents__text {
  margin-bottom: 1em;
}
img {
  &.contents__image {
    max-width: 100%;
  }
}
br.br__sp {
  @media (min-width: $tablet_point_mf) {
    display: none;
  }
}