@charset "utf-8";
// -----------------------------------
// color
// -----------------------------------
$black: #000;
$dark-gray: #333;
$middle-gray: #666;
$light-gray: #CCC;
$exlight-gray: #EEE;
$white: #FFF;
$purple: #A757A8;
$notify-red: #F00000;

// -----------------------------------
// font
// -----------------------------------
$lora-normal: 400 14px 'Lora';
$lora-bold: 500 24px 'Lora';
$lora-title: 400 36px 'Lora';

// -----------------------------------
// skew
// -----------------------------------
.skew {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: skewY(-3deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $white;
  }
}

// -----------------------------------
// absolute width & height
// -----------------------------------
$maxWidth: 980px;
$headerHeight: 70px;

// -----------------------------------
// Break Points (モバイルファースト)
// -----------------------------------
$pc_point_mf: 1024px;
$tablet_point_mf: 768px;
$sp_point_mf: 480px;
//デバイス横持ち
//@media (orientation: landscape) {}
//デバイス縦持ち
//@media (orientation: portrait) {}
//スマホ以上
//@media (min-width: $sp_point_mf) {}
//スマホ以上かつ横持ち
//@media (min-width: $sp_point_mf) and (orientation: landscape)  {}
//スマホ以上かつ縦持ち
//@media (min-width: $sp_point_mf) and (orientation: portrait) {}
//タブレット以上
//@media (min-width: $tablet_point_mf) {}
//PC以上
//@media (min-width: $pc_point_mf) {}

// -----------------------------------
// Preset
// -----------------------------------
html, body {
  font-family: Arial;
  color: $black;
}
img {
  vertical-align: bottom;
}