section.contents {
    @media (min-width: $pc_point_mf) {
      padding: 30px 0 75px !important;
    }
  }
  .contents__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: $sp_point_mf) {
      flex-direction: row;
    }
  }
  .disk__jacket,
  .disk__detial {
    flex-basis: 49%;
    margin-bottom: 30px;
  }
  .disk__jacket {
    z-index: 2;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .disk__detail {
    max-width: 480px;
    width: 100%;
    @media (min-width: $sp_point_mf) {
      width: 49%;
      margin-left: 20px;
    }
  }
  .detail__releaseDate,
  .detail__price {
    font-size: 14px;
  }
  .detail__price {
    margin-bottom: 30px;
  }
  h4.title {
    @extend .skew;
    &::before {
      transform: skewY(30deg);
      top: -7px;
      left: -10px;
      width: 20px;
      height: 20px;
      background: $exlight-gray;
    }
  }
  ol.detail__musics {
    list-style-position: inside;
    li {
      span {
        font-size: 14px;
      }
    }
  }
  