section.keyVisual picture img {
  animation: top_keyVisual 2s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes top_keyVisual {
  0% {
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.top section.contents.skew::before {
  animation: top_bg .3s;
  animation-delay: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
@keyframes top_bg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.top section.contents .contents__wrapper {
  animation: top_contents 2s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes top_contents {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
