<template>
  <footer>
    <address>Copyright © RagTag All Rights Reserved.</address>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  padding-bottom: 20px;
  address {
    text-align: center;
    font: normal 400 14px 'Lora';
    color: $white;
    max-width: $maxWidth;
    margin: 0 auto;
  }
}
</style>