<template lang="pug">
  header(:class="{ 'fixed' : scrollY > 50 }")
    nav
      h1
        nuxt-link(to="/")
          img(src="~assets/common/logo.jpg" alt="大人女子バンドRagTag")
      ul(class="menu")
        li.menu__item
          nuxt-link(to="/") Home
        li.menu__item
          nuxt-link(to="/biography/") Biography
        li.menu__item
          nuxt-link(to="/schedule/") Schedule
        li.menu__blank
        li.menu__item
          nuxt-link(to="/discography/") Discography
        li.menu__item
          nuxt-link(to="/music/") Music
        li.menu__item
          nuxt-link(to="/contact/") Contact
</template>

<script>
export default {
  data() {
    return {
      // 座標を指定
      scrollY: 0
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      this.scrollY = window.scrollY
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition-duration: .5s;
  background: $white;
  nav {
    display: flex;
    @media (min-width: $tablet_point_mf) {
      display: block;
      position: relative;
      height: $headerHeight;
      max-width: $maxWidth;
      margin: 0 auto;
    }
    h1 {
      @media (min-width: $tablet_point_mf) {
        position: absolute;
        top: 0;
        left: calc(50% - 69px);
      }
      img {
        width: 70px;
        @media (min-width: 375px) {
          width: 103.5px;
        }
        @media (min-width: $tablet_point_mf) {
          width: 100%;
        }
      }
    }
  }
  * {
    transition-duration: .5s;
  }
  &.fixed {
    transition-duration: .5s;
    @media (min-width: $tablet_point_mf) {
      background: rgba($white, .7) !important;
    }
    * {
      transition-duration: .5s;
    }
    nav {
      @media (min-width: $tablet_point_mf) {
        height: 45px;
      }
      h1 {
        @media (min-width: $tablet_point_mf) {
          left: calc(50% - 44px);
        }
        img {
          width: 70px;
          @media (min-width: $tablet_point_mf) {
            width: 63.7%;
          }
        }
      }
      ul.menu {
        background: rgba($white, .7);
        @media (min-width: $tablet_point_mf) {
          background: none;
          padding: 9px 0;
        }
        li.menu__blank {
          @media (min-width: $tablet_point_mf) {
            width: 88px;
          }
        }
      }
    }
  }
}
ul.menu {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font: $lora-normal;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  transition-duration: .5s;
  @media (min-width: $sp_point_mf) {
    font-size: 16px;
  }
  @media (min-width: $tablet_point_mf) {
    background: none;
    padding: 23px 0;
    font-size: 18px;
    width: auto;
    height: 24px;
  }
  li {
    &.menu__blank {
      display: none;
      @media (min-width: $tablet_point_mf) {
        display: block;
        width: 138px;
      }
    }
    &.menu__item {
      width: 33.3%;
      height: 50%;
      @media (min-width: $tablet_point_mf) {
        width: inherit;
        height: inherit;
      }
      a {
        color: $black;
        padding: .4em .75em;
        text-decoration: none;
        transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
        vertical-align: middle;
        &:hover {
          background: rgba($black, 1);
          color: $white;
          box-shadow: inset 0 0 20px rgba($purple, .75), 0 0 20px rgba($purple, .2);
          outline: 1px solid;
          outline-color: rgba($black, 0);
          outline-offset: 10px;
        }
      }
    }
  }
}
</style>