<template lang="pug">
  .contents__disk
    ul.disk__list
      li.disk__item
        a(href="/discography/thesharingsong/")
          img(src="~assets/discography/mcardthesharingsong.jpg" alt="The Sharing Song" width="600" height="524")
          p ミュージックカード「The Sharing Song」
      li.disk__item
        a(href="/discography/ragtag/")
          img(src="~assets/discography/cdragtagjacket.png" alt="RagTag" width="755" height="660")
          p 1st miniアルバム「RAGTAG」
</template>

<style lang="scss" scoped>
ul.disk__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  li.disk__item {
    width: 49%;
    a {
      text-decoration: none;
      img {
        width: 100%;
        height: auto;
        border: 1px solid $exlight-gray;
        margin-bottom: 10px;
      }
      p {
        color: $dark-gray;
      }
    }
  }
}
</style>
