<template lang="pug">
  section.keyVisual(v-if="page === 'home'")
    picture
      source(media="(max-width: 768px)" srcset="~assets/common/keyVisual--home__sp.jpg")
      img(src="~assets/common/keyVisual--home.jpg" alt="RagTag" width="980" height="654")
  section.keyVisual(v-else)
    .keyVisual__wrapper
      h2(v-if="page === 'biography'") Biography
      h2(v-else-if="page === 'schedule'") Schedule
      h2(v-else-if="page === 'discography'") Discography
      h2(v-else-if="page === 'music'") Music
      h2(v-else-if="page === 'contact'") Contact
      h2(v-else) Other
</template>

<script>
export default {
  props: ['page']
}
</script>

<style lang="scss" scoped>
section.keyVisual {
  width: 100%;
  text-align: center;
  background: $black;
  picture {
    img {
      max-width: 980px;
      width: 100%;
      height: auto;
    }
  }
}
.container .biography section.keyVisual,
.container :not(.top) section.keyVisual {
  background: url('~assets/common/keyVisual--under_a.jpg') no-repeat top right;
}
.container .schedule section.keyVisual {
  background: url('~assets/common/keyVisual--under_m.jpg') no-repeat top right;
}
.container .discography section.keyVisual {
  background: url('~assets/common/keyVisual--under_s.jpg') no-repeat top right;
}
.container .music section.keyVisual {
  background: url('~assets/common/keyVisual--under_n.jpg') no-repeat top right;
}
.keyVisual__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  height: 120px;
  @media (min-width: $tablet_point_mf) {
    height: 230px;
  }
  h2 {
    font: $lora-title;
    color: $white;
    text-align: left;
  }
}
</style>