<template lang="pug">
  .container
    commonHeader
    Nuxt
    commonFooter
</template>

<script>
import commonHeader from '@/components/commonHeader';
import keyVisual from '@/components/keyVisual';
import commonFooter from '@/components/commonFooter';

export default {
  components: {
    commonHeader,
    keyVisual,
    commonFooter
  },
  head: {
    link: [
      { rel: 'stylesheet', href: '//fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap' }
    ]
  }
}
</script>

<style lang="scss">
.container {
  background: $black;
}
</style>
