<template lang="pug">
  .wrap.under.biography
    keyVisual(page="biography")
    section.contents.skew
      .contents__wrapper
        h3.title RagTag
          span.title__supplement （ラグタグ）
        p.contents__text 2016年、東京で結成。<br>
          | ボーカル　MEGUMI、サックス　ASUMI、<br>
          | キーボード＆シンセベース　SAEKO、ドラム　NAOMIの4人編成。
        p.contents__text 毎夏、フランスのパリで行われるジャパンカルチャーの祭典、「JAPAN EXPO」の2019年日本代表をかけたコンテストでは、ファイナルまで勝ち進み、準優勝の座に。
        p.contents__text 2019年4月に1stミニアルバム「RAGTAG」をリリース。
        p.contents__text 6月には東京倶楽部目黒店にて満員盛況の中ワンマンライブを成功させた。
        p.contents__text 8月、としまえんビアガーデンにて夏イベント　優勝<br>
          | 9月にはBillboard Live TOKYOにて三年連続のLive出演。
        p.contents__text 2019年9月、ミュージックカードで「The Sharing Song」発売。
        p.contents__text Ragtag（らぐたぐ）とはごちゃ混ぜを意味します。<br>
          | バンド名そのまま、ジャンルレスに駆け巡る、<br>
          | 変幻自在サウンドとグルーヴで、<br>
          | オーディエンスとひとつになるパフォーマンスで会場を沸かせます。
        picture.member__image
          source(media="(max-width: 768px)" srcset="~assets/common/keyVisual--home__sp.jpg")
          img.contents__image(src="~assets/common/keyVisual--home.jpg" alt="RagTag" width="980" height="654")
        .scrollable
          table.profile__table
            thead
              tr
                th 
                  img(src="~assets/common/logo-white.png" alt="RagTag" width="24" height="24")
                th ASUMI
                th MEGUMI
                th NAOMI
                th SAEKO
            tbody
              tr
                th パート
                td サックス
                td ボーカル
                td ドラム
                td キーボード＆<br class="br__sp">
                  | シンセベース
              tr
                th 出身地
                td 東京
                td 岩手
                td 北海道
                td 関西
              tr
                th(rowspan="2") SNS
                td(colspan="4") RagTag公式：
                  a(href="//twitter.com/soundragtag" target="_blank")
                    i.fab.fa-twitter
                  a(href="//www.instagram.com/soundragtag/" target="_blank")
                    i.fab.fa-instagram
              tr
                td 
                  a(href="//twitter.com/asumisax" target="_blank")
                    i.fab.fa-twitter
                td 
                  a(href="//twitter.com/yosimegu2" target="_blank")
                    i.fab.fa-twitter
                  a(href="//www.instagram.com/yosimegu/" target="_blank")
                    i.fab.fa-instagram
                td 
                  a(href="//twitter.com/Cosmicgirl703" target="_blank")
                    i.fab.fa-twitter
                  a(href="//www.instagram.com/cosmicgirl703/" target="_blank")
                    i.fab.fa-instagram
                td 
                  a(href="//twitter.com/saekopatex" target="_blank")
                    i.fab.fa-twitter
                  a(href="//www.instagram.com/nestsae/" target="_blank")
                    i.fab.fa-instagram
</template>

<script>
import keyVisual from '@/components/keyVisual';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'Biography',
      link: [
        { rel: 'stylesheet', href: '//use.fontawesome.com/releases/v5.6.3/css/all.css' }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
picture.member__image {
  > img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}
.scrollable {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.profile__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  th, td {
    width: 22%;
    padding: 7px;
  }
  th {
    color: $white;
    font-weight: normal;
    background: $black;
    &:first-child {
      width: 12%;
      min-width: 55px;
    }
  }
  thead {
    th {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 1px;
        height: 19px;
        margin: auto;
        background-image: linear-gradient(180deg,$white 2px,transparent 2px);
        background-repeat: repeat-y;
        background-size: 1px 4px;
      }
      &:last-child {
        &:after {
          background: none;
        }
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid $light-gray;
        }
      }
    }
    th {
      position: relative;
      vertical-align: middle;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 70%;
        height: 1px;
        margin: auto;
        background-image: linear-gradient(135deg,$white 2px,transparent 2px);
        background-repeat: repeat-x;
        background-size: 4px 1px;
      }
    }
    td {
      border-bottom: 1px dashed $light-gray;
      &:last-child {
        border-right: 1px solid $light-gray;
      }
      a {
        display: inline-block;
        margin: 0 5px;
        color: $black;
      }
    }
  }
}
</style>
