<template lang="pug">
  .wrap.top
    keyVisual(page="home")
    section.contents.skew
      .contents__wrapper
        .contents__left
          .contents__topics
            h2.title.skew Topics
            ul.topics__list(v-if="posts.length")
              li.topics__item(v-for="post in posts") {{ post.fields.title }}
          discographyContents
        .contents__right
          .contents__twitter
            h2.title Twitter
            a.twitter-timeline(data-lang="ja" data-width="100%" data-height="388" data-theme="light" href="https://twitter.com/Soundragtag?ref_src=twsrc%5Etfw") Tweets by Soundragtag
            script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
          .contents__instagram
            h2.title Instagram
            img(src="~assets/common/instagram.jpg" alt="InstaはAPI必要だからサンプルだよ")
</template>

<script>
import keyVisual from '@/components/keyVisual';
import discographyContents from '@/components/discographyContents';
import client from '~/plugins/contentful';

export default {
  components: {
    keyVisual,
    discographyContents
  },
  head() {
    return {
      titleTemplate: null,
      title: 'RagTag Official Fan Site',
    }
  },
  asyncData({ params }) {
    return client
      .getEntries({
        content_type: 'topics',
        order: 'sys.createdAt',
      })
      .then(entries => {
        return { posts: entries.items }
      })
      .catch(e => console.log(e))
  },
}
</script>

<style src="@/assets/sass/_firstAnimation.scss" lang="scss" scoped>
</style>

<style lang="scss" scoped>
.contents__left,
.contents__right {
  flex-basis: 49%;
  margin-bottom: 30px;
}
.contents__right {
  display: flex;
  justify-content: space-between;
}
.contents__topics {
  margin-bottom: 20px;
}
ul.topics__list {
  list-style: none;
  li.topics__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.contents__twitter,
.contents__instagram {
  flex-basis: 48%;
  iframe, img {
    width: 100%;
  }
}
iframe#twitter-widget-0 {
  box-shadow: 0px 0px 5px 1px $light-gray;
}
.timeline-Header-title {
  font-size: 12px;
}
</style>
