<template lang="pug">
  .wrap.under.music
    keyVisual(page="music")
    section.contents.skew
      .contents__wrapper
        .contents__list
          h3.title [Japan EXPO ROCKS 準決勝LIVE]
          iframe(width="100%" height="315" src="https://www.youtube.com/embed/dyi0I2Hnb4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .contents__list
          h3.title [17LIVE いつしかのライブサンプル]
          ul.videoSample
            li 
              img(src="~assets/music/videoSample.png" alt="サンプル")
            li 
              img(src="~assets/music/videoSample.png" alt="サンプル")
</template>

<script>
import keyVisual from '@/components/keyVisual';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'Schedule',
    }
  },
}
</script>

<style lang="scss" scoped>
.contents__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $tablet_point_mf) {
    flex-direction: row;
  }
}
.contents__list {
  flex-basis: 49%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  ul.videoSample {
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      flex-basis: 48%;
      img {
        width: 100%;
      }
    }
  }
}
</style>
