<template lang="pug">
  .wrap.under.schedule
    keyVisual(page="schedule")
    section.contents.skew
      .contents__wrapper
        dl.schedule__list(v-if="posts.length")
          template(v-for="(post, index) in posts")
            dt.schedule__title {{ formatDate(post.fields.date) }} {{ post.fields.title }}
            dd.schedule__detail
              p @{{ post.fields.venue }} 
                template(v-if="post.fields.openTime") OPEN {{ post.fields.openTime }} 
                template(v-if="post.fields.startTime") / START {{ post.fields.startTime }}
                template(v-if="post.fields.detail") <div v-html="toHtmlString(post.fields.detail)"></div>
</template>

<script>
import keyVisual from '@/components/keyVisual';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import client from '~/plugins/contentful';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'Schedule',
    }
  },
  asyncData({ params }) {
    return client
      .getEntries({
        content_type: 'schedule',
        order: 'sys.createdAt',
      })
      .then(entries => {
        return { posts: entries.items }
      })
      .catch(e => console.log(e))
  },
  methods: {
    formatDate(iso) {
      const date = new Date(iso)
      const yyyy = new String(date.getFullYear())
      const mm = new String(date.getMonth() + 1).padStart(2, "0")
      const dd = new String(date.getDate()).padStart(2, "0")
      return `${yyyy}/${mm}/${dd}`
    },
    toHtmlString(obj) {
      return documentToHtmlString(obj)
    }
  }
}
</script>

<style lang="scss" scoped>
dl.schedule__list {
  dt.schedule__title {
    font-weight: 600;
  }
  dd.schedule__detail {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 15px;
    margin: 0 auto 15px;
    width: calc(100% - 30px);
    p {
      margin: 0 -15px;
    }
    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 2.5px);
      bottom: -6px;
      transform: skewX(30deg) skewY(-52deg);
      z-index: -1;
      width: 5px;
      height: 10px;
      background: $white;
      border-left: 2px solid $light-gray;
      border-right: 2px solid $light-gray;
      outline: 5px solid $white;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
      &::after {
        content: none;
      }
    }
  }
}
</style>
