<template lang="pug">
  .wrap.under.discography
    keyVisual(page="discography")
    section.contents.skew
      .contents__wrapper
        discographyContents
</template>

<script>
import keyVisual from '@/components/keyVisual';
import discographyContents from '@/components/discographyContents';

export default {
  components: {
    keyVisual,
    discographyContents
  },
  head() {
    return {
      title: 'Discography',
    }
  },
}
</script>

<style lang="scss" scoped>
section.contents {
  @media (min-width: $pc_point_mf) {
    padding: 30px 0 75px;
  }
}
.discography {
  ul.disk__list {
    li.disk__item {
      a {
        p {
          text-align: center;
        }
      }
    }
  }
}
</style>
