<template lang="pug">
  .wrap.under.discography
    keyVisual(page="discography")
    section.contents.skew
      .contents__wrapper
        .disk__jacket
          img(src="~assets/discography/cdragtagjacket.png" alt="RagTag")
        .disk__detail
          h3.title 1st miniアルバム「RAGTAG」
          p.detail__releaseDate 2019/04/27発売
          p.detail__price ¥1,500
          h4.title 収録曲
          ol.detail__musics
            li Four Seats
              span （作詞/作曲：SAEKO）
            li その先へ・・・
              span （作詞：MEGUMI/作曲：SAEKO）
            li Ladies in Wonderland
              span （作詞/作曲：SAEKO）
            li 至極余情
              span （作詞/作曲：ASUMI）
            li 夕暮れのターリー
              span （作詞：ASUMI/作曲：SAEKO）
</template>

<script>
import keyVisual from '@/components/keyVisual';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'RAGTAG | Discography',
    }
  },
}
</script>

<style src="@/assets/sass/_discography.scss" lang="scss" scoped>
</style>
