<template lang="pug">
  .wrap.under.discography
    keyVisual(page="discography")
    section.contents.skew
      .contents__wrapper
        .disk__jacket
          img(src="~assets/discography/mcardthesharingsong.jpg" alt="The Sharing Song")
        .disk__detail
          h3.title ミュージックカード「The Sharing Song」
          p.detail__releaseDate 2019/09/13発売
          //- h4 収録曲
          //- ol.detail__musics
          //-   li Four Seats
          //-     span （作詞/作曲：SAEKO）
</template>

<script>
import keyVisual from '@/components/keyVisual';

export default {
  components: {
    keyVisual,
  },
  head() {
    return {
      title: 'The Sharing Song | Discography',
    }
  },
}
</script>

<style src="@/assets/sass/_discography.scss" lang="scss" scoped>
</style>
